.minimap-frame,
.minimap-slider {
    --scale: 0.1;
}

.minimap-frame {
    position: absolute;
    right: 0.8rem;
    width: 100%;
    pointer-events: none;
    scale: var(--scale);
    transform-origin: top right;
    z-index: 1;
}

.minimap-slider {
    right: 0.8rem;
    position: absolute;
    width: calc(100% * var(--scale));
    background-color: var(--code-comment);
    opacity: 0.3;
    z-index: 2;
}

.minimap-slider.dragging {
    opacity: 0.5;
}

.minimap-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
